.score {
    width: 60%;
    margin: 2em;
    /* padding: 2em; */
    border-top: 1px solid #9638c9;
    border-right: 1px solid #9638c9;
    border-left: 1px solid #9638c9;
    border-radius: 5px;
}
.calendar {
    width: 100%;
    overflow: auto;
}
.bottom-side {
    display: flex;
    font-family: "Inder";
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .score {
        width: 80%;
    }
}
